@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #f19335;
  --tertiary-color: #f6f6f6;
  --quaternary-color: #8a8b8e;

  --yellow: gold;
  --white: #ffffff;

  --font-family: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #000;
}

/* ESTILOS PERSONALIZADOS */

.navbar {
  width: 100%;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* backdrop-filter: blur(10px); */
  background-color: #fff;

  .navbar-toggler {
    border: none;
    padding: 0;
  }

  .nav-link {
    color: #000;
  }
}

/* MIS ESTILOS */
/* HEADER */

header {
  z-index: 900;
}

.logo {
  img {
    width: 5em;
  }
}

.hero {
  background-color: #f6f6f6;

  .hero__text {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    color: #000;
    h2 {
      font-size: 2.5em;
      font-weight: 700;
    }
    p {
      font-size: 0.9em;
      color: #8a8b8e;
    }

    a {
      width: max-content;
      background-color: transparent;
      color: #000;
      border-color: #000;
      border-radius: 0;
      font-size: 0.9em;

      &:hover,
      &:focus {
        background-color: #f19335;
        transition-duration: 0.3s;
        border-color: #f19335;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .hero__image {
    max-width: 20em;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.blog-section {

  .blog-section__information {
    h2 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }
    p {
      color: #8a8b8e;
      font-size: 0.9em;
    }
  }

  .blog-section__category {
    h2 {
      font-weight: 400;
      margin-top: .5em;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > a {
      display: flex;
      height: 30em;
      overflow: hidden;
      &:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        transition: all 0.3s ease-in-out;
      }
    }
    > div a {
      background-color: transparent;
      color: #000;
      border: none;
      padding: 0;
      &:hover {
        color: #f19335;
      }
      &:hover i {
        transform: translateX(0.5em);
        color: #f19335;
        transition-duration: 0.3s;
      }
      &:focus {
        background-color: transparent;
        outline: none;
        box-shadow: none;
        border: none;
      }
      &:active {
        background-color: transparent;
      }
    }
  }
}

.products-section {
  h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  p {
    color: #8a8b8e;
    font-size: 0.9em;
  }

  a {
    max-width: 30em;
    margin: 2em auto;
    background-color: #f19335;
    border: none;
    border-radius: 0 !important;
    &:hover {
      background-color: #e27715;
    }
    &:active {
      background-color: #e27715 !important;
    }
    &:focus {
      background-color: #e27715;
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
  .products-section__product {

    div:first-child {
      margin-bottom: 1em;
    }
    h3 {
      font-size: 0.9em;
      font-weight: 500;
    }
    p {
      font-size: 0.8em;
    }
    .evaluation {
      color: gold;
      font-size: 0.8em;
    }
  }

  img {
    width: 100%;
  }
}

/* FOOTER */
.footer {
  background-color: #f6f6f6;
  font-size: 0.9em;
  ul {
    list-style: none;
    padding: 0;
    line-height: 1.8;
  }
  .footer__information {
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: #f19335;
      }
    }
    > div:first-child {
      p {
        margin: 0 0 1em;
      }
      img {
        width: 8em;
        margin-bottom: 1em;
      }

      .social-networks {
        display: flex;
        gap: 0.8em;

        a {
          background-color: transparent;
          width: 2em;
          height: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          border-radius: 50%;
          color: #f19335;
          &:hover {
            background-color: #f19335;
            color: #fff;
            transition-duration: 0.3s;
          }
        }
      }
    }
    h2 {
      font-size: 1.3em;
      margin-bottom: 1em;
    }
  }
}

/* PÁGINA DE NOSOTROS */
.hero-section-about {
  background-image: url("https://zimmerei-rv-holzbau.de/site/assets/files/1/rv-holzbau-fassadenbau-trockenbau-zimmererarbeiten-slide.-desktop.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  div {
    text-align: center;
    z-index: 200;
    h1 {
      font-size: 3em;
    }
  }
}

.section-about {
  .section-about__description {
    p {
      color: var(--quaternary-color);
      font-size: 0.9em;
    }
  }
  .section-about__maps {
    h2 {
      font-size: 2em;
    }
    iframe {
      width: 100%;
    }
  }
}

/* PÁGINA DE CATÁLOGO */
.hero-section-catalogue {
  background-image: url("https://static.vecteezy.com/system/resources/previews/020/544/792/large_2x/gradient-orange-waves-background-fluid-gradient-shapes-composition-vector.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  div {
    text-align: center;
    z-index: 200;
    h1 {
      font-size: 3em;
    }
  }
}

.separacion-margen {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* PÁGINA DE BLOG */
.hero-section-blog {
  background-image: url("https://static.vecteezy.com/system/resources/previews/020/544/792/large_2x/gradient-orange-waves-background-fluid-gradient-shapes-composition-vector.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  div {
    text-align: center;
    z-index: 200;
    h1 {
      font-size: 3em;
    }
  }
}

.blogsito-section {
  article {
    display: flex;
    flex-direction: column;
    h2 {
      /* font-size: 2em; */
    }
    h3 {
      /* font-size: 1.5em; */
    }
    p {
      /* margin-bottom: 2em; */
      color: #8a8b8e;
      font-size: 0.9em;
    }
  }

  img {
    align-self: center;
    width: 100%;
    height: 20em;
    object-fit: cover;
    margin: 2em 0;
  }
}

/* PÁGINA DE CONTACTO */
.hero-section-contact {
  background-image: url("https://img.freepik.com/fotos-premium/computador-com-grafico-e-calculadora-na-mesa_218381-2555.jpg?w=1380");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  div {
    text-align: center;
    z-index: 200;
    h1 {
      font-size: 3em;
    }
  }
}

form {
  max-width: 50em;
  .btn-formulario {
    background-color: #f19335;
    border: none;
    &:hover {
      background-color: #e27715;
    }
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero {
    .hero__text {
      h2 {
        font-size: 2.5em;
        line-height: 1.5;
      }
      p {
        font-size: 1em;
      }
    }
  }

  .blog-section {
    .blog-section__information {
      h2 {
        font-size: 2.5em;
      }
      p {
        color: #8a8b8e;
        font-size: 1.1em;
      }
    }
  }

  .products-section {
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.1em;
    }

    .products-section__product {
      div:first-child {
        margin-bottom: 1em;
      }
      h3 {
        font-size: 1em;
        font-weight: 500;
      }
      p {
        font-size: 0.9em;
      }
      .evaluation {
        color: gold;
        font-size: 0.8em;
      }
    }
  }

  .section-about {
    .section-about__description {
      p {
        font-size: 1em;
      }
    }
  }

  .footer {
    font-size: 1em;
  }

  .section-about__maps{
    h2{
      font-size: 2.5em;
    }
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    background-color: #f6f6f6;

    .hero__text {
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      color: #000;
      h2 {
        font-size: 4em;
        line-height: 1.5;
      }
      p {
        font-size: 1.1em;
        color: #8a8b8e;
      }

      a {
        width: max-content;
      }
    }

    .hero__image {
      max-width: 35em;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }

  .blogsito-section {
    article {
      h2 {
        font-size: 2.5em;
      }
      p {
        color: #8a8b8e;
        font-size: 1em;
      }
    }

    img {
      align-self: center;
      width: 100%;
      height: 35em;
      object-fit: cover;
      margin: 2em 0;
    }
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
